@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin:0px;
    height:100%;
    font-family: "Josefin Sans", sans-serif;
    background-image: linear-gradient(rgba(7, 55, 68, 0.355), rgba(0, 0, 0, 0.534)),url(../img/landing-page.3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}


.landing-page {
    height:100%;
  }

.main-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 10px;


    & h1 {
        font-size: 5rem;
        color: rgb(133, 133, 133);
        text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

    }

    & h3 {
        font-size: 1.4rem;
        letter-spacing: .7rem;
        font-weight: 400;
        margin-bottom: 20px;
        color: white;
    }

    & p {
        color: white;
        font-size: 1.1rem;
    }
}


.landing-buttons {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.landing-buttons .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 140px;
    background-color: rgb(133, 133, 133);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    outline: 1.5px rgba(0, 0, 0, 0.827) solid;
    transition: all 400ms ease;
    border-radius: 2px;

}

.button1:hover {
    transform: scale(1.3);
    background-color: rgb(255, 255, 255);
    color: rgba(240, 46, 169, 0.827);
    outline: 1px rgba(240, 46, 169, 0.827) solid;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.button1:active {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.827);
    color: rgba(240, 46, 169, 0.827);
    outline: 1px rgba(240, 46, 169, 0.827) solid;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.landing-buttons .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 140px;
    background-color: rgb(133, 133, 133);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    outline: 1.5px rgba(0, 0, 0, 0.827) solid;
    transition: all 400ms ease;
    border-radius: 2px;

}

.button2:hover {
    transform: scale(1.3);
    background-color: rgb(255, 255, 255);
    color: rgba(240, 46, 169, 0.827);
    outline: 1px rgba(240, 46, 169, 0.827) solid;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.button2:active {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.827);
    color: rgba(240, 46, 169, 0.827);
    outline: 1px rgba(240, 46, 169, 0.827) solid;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
