@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;

}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    background-color: rgb(255, 255, 255);
  }



/*Header*/
header.design-anithree {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0.7rem 0vw 0.7rem 30px;
    background: rgb(9, 9, 9);
    background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.7)),url(../img/header-porsche.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


img.ani-company-logo3 {
    height: 50px;
}

nav.ani-navigation3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    width: 100%;
    & button {
        color: rgb(255, 255, 255);
    }
}

.ani-navigation3 .ani-nav-design3 {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(149, 149, 149);
    text-decoration: none;

}

.ani2-search-icon {
    margin: 20px auto;
    background: rgb(69, 69, 69);
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    transition: 0.8s;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.356);
}

.ani2-search-icon:hover input {
    width: 80px;
    cursor: pointer;
}

.ani2-search-icon input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.ani2-search-icon li .fas {
    color: black;
}

.ani-navigation3 .ani-nav-design3 {
    position: relative;
    text-decoration: none;
}

button.ani-nav-design3:hover {
    color: rgb(149, 149, 149);
    transition: all 200ms ease;
  }

.ani-navigation3 .ani-nav-design3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;

  }

.ani-navigation3 .ani-nav-design3:hover::before {
    transform: scaleX(1.1);
    background-color: rgb(149, 149, 149);

  }

.ani-navigation3 .ani-nav-design3:active {
    color: rgb(255, 255, 255);

  }

img.ani-company-logo3:hover {
    transition: all 1200ms ease;
    transform: scale(1.2);

}

/*Content*/

.main-pic {
    width: 100dvw;
    height: 100dvh;
    background-color: yellowgreen;
    background-image: url(../img/main-pic-porsche.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

    & .info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70dvh;
        background-olor: rgb(0, 17, 250);
        color: #c4c4c4;
        font-size: 4rem;
    }
}

.feature-one {
    width: 100dvw;
    height: auto;
    background-color: rgb(19, 20, 23);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.feature-one img {
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 100px;
    flex-shrink: 0;
}

.f1-info {
    width: 45dvw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-c olor: yellowgreen;
    padding: 20px;
    color: white;

    & p {
        font-size: 1rem;
        text-align: justify;
    }

    & h1 {
        font-size: 5rem;
        margin-bottom: 15px;
    }
}

.feature-two {
    width: 100dvw;
    height: auto;
    background-color: rgb(19, 20, 23);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: row-reverse;
}

.feature-two img {
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 100px;
    flex-shrink: 0;
}

.f2-info {
    width: 45dvw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-co lor: yellowgreen;
    padding: 20px;
    color: white;
    margin-top: -100px;

    & p {
        font-size: 1rem;
        text-align: justify;
    }

    & h1 {
        font-size: 5rem;
        margin-bottom: 15px;
    }
}

.feature-three {
    width: 100dvw;
    height: auto;
    background-color: rgb(19, 20, 23);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.feature-three img {
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 100px;
    flex-shrink: 0;
}

.f3-info {
    width: 45dvw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background- color: yellowgreen;
    padding: 20px;
    color: white;
    margin-top: -100px;

    & p {
        font-size: 1rem;
        text-align: justify;
    }

    & h1 {
        font-size: 5rem;
        margin-bottom: 15px;
    }
}


/*Footer*/
footer.design-three-ani {
    
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.7)), url();
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.footer-content3-ani {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button.nav2-design1-2-ani {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 3rem;
}

button.nav2-design1-2-ani i {
    color: white;
    font-size: 1.5rem;
    
}

.navigation2-footer2-ani {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    max-width: 1260px; /* Limit the width of the paragraph */
    & h3 {
        font-size: .9rem;
        font-weight: 200;
        cursor: pointer;
    }
}

.porsche-brand-ani {
    margin-top: 50px;
    margin-bottom: 20px;
    height: 20px;
    transition: all 800ms ease;


}

.navigation2-footer2-ani p {
    transition: all 3100ms ease;
}
.navigation2-footer2-ani p:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 4px rgb(255, 255, 255));
}



.porsche-brand-ani:hover {
    transform: rotateX(360deg) scale(1.1);
    filter: drop-shadow(7px 5px 5px #fdfdfd);
}

.navigation2-footer2-ani h3 {
    transition: all 100ms ease;
}
.navigation2-footer2-ani h3:hover {
    transform: scale(1.2);
    font-style: italic;
    font-weight: 400;
}